<div class="container-fluid row justify-content-center">
    <%- include('../partials/productHistory.ejs') %> 
    <div class="container-fluid row justify-content-center">
        <button style="margin-top:15px; width: 200px;" onclick="window.location.href='/'" class="btn btn-primary">Volver al Formulario</button>
    </div>
</div>
