<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/header.ejs') %> 
 </head>
<body>
    <div class="container-fluid">
        <%- include('../partials/form.ejs') %> 
    </div>
    <div id="productos" class="container" style="margin-left:29%;"></div>
    <div class="container-fluid w-50">
        <%- include('../partials/chat.ejs') %> 
    </div>
</body>
<script src="js/index.js"></script>
</html>