<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/header.ejs') %> 
 </head>

<body>
    <div class="container-fluid form">
        <%- include('../partials/form.ejs') %> 
    </div>
    <div id="productos" class="container" style="margin-left:29%;"></div>
</body>
<script src="js/index.js"></script>
</html>