<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/header.ejs') %> 
 </head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="border: lightblue solid;">
                <div class="container-fluid">
                    <%- include('../partials/newchat.ejs') %> 
                </div>
        </div>
    </div>
</body>
<script src="js/mainChat.js"></script>
</html>